[build]
  command = "yarn build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "22"

# Ensure Googlebot can access the site
[[headers]]
  for = "/*"
  [headers.values]
    X-Robots-Tag = "all"
    Access-Control-Allow-Origin = "*"

# Better error pages (instead of 5xx)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false
  
# Ensure static assets are served properly
[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

# Allow search engine bots
[[headers]]
  for = "/*"
  [headers.values]
    X-Content-Type-Options = "nosniff"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

# Allow sitemap-presenter
[[headers]]
    for = "/*"                                                         
    [headers.values]                                        
      X-Frame-Options = "ALLOWALL"               
      Content-Security-Policy = "frame-ancestors 'self'
  https://sitemap-presenter.netlify.app"