---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import PostPreview from '../../components/PostPreview.astro';
import siteConfig from '../../data/site-config';
import ArrowLeft from '../../icons/ArrowLeft.astro';

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const sortItemsByDateDesc = (a: CollectionEntry<'blog'>, b: CollectionEntry<'blog'>) => {
        return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime();
    };

    const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
    return paginate(posts, { pageSize: siteConfig.postsPerPage || 4 });
}

type Props = { page: Page<CollectionEntry<'blog'>> };

const { page } = Astro.props;
const blog = page.data;
const description =
    'Entdecke meine Blogartikel über Hypnose und Hypnosetherapie. Themen wie Ängste, Wohlbefinden, Kinderhypnose, Sport, Ernährung, Trauer und Selbstreflexion. Alles, was du über mentale Gesundheit und Hypnose wissen musst.';
---

<BaseLayout title="Blog" description={description} image={{ src: '/uploads/glowing-blocks.png', alt: 'Blog' }}>
    <div>
        <a class="flex items-center absolute text-red-500 hover:text-red-700 -mt-8 text-sm font-bold" href="/">
            <ArrowLeft class="w-4 h-4 fill-current" />
            <span>Home</span>
        </a>
        <h1 class="mb-8">Blog</h1>
        <div class="prose prose-lg">
            <p>
                Liebe alle, folgende Texte beinhalten meine Gedanken und meine Sichtweise auf die Dinge. Sie sind nicht wissenschaftlich fundiert und es steht
                jedem und jeder frei, seine eigene Haltung zu haben. Ich freue mich, wenn ich dir einige Inputs mit auf den Weg geben kann!
            </p>
        </div>
        {blog.map((post) => <PostPreview post={post} class="mb-12 sm:mb-16" />)}
        <Pagination page={page} class="my-16 sm:my-24" />
    </div>
</BaseLayout>
