@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 11 11 11; /* #171717 */
        --color-bg-main: 233 215 235; /* #F2F1EC */
        --color-bg-muted: 234 233 225; /* #EAE9E1 */
        --color-border-main: 23 23 23; /* #171717 */
    }
    html.dark {
        --color-text-main: 242 241 236; /* #F2F1EC */
        --color-bg-main: 23 23 23; /* #171717 */
        --color-bg-muted: 36 36 36; /* #242424 */
        --color-border-main: 242 241 236; /* #F2F1EC */
    }

    @font-face {
        font-family: 'Satoshi';
        src: url('/fonts/satoshi.ttf') format('ttf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    html {
        max-width: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    h1 {
        @apply text-balance text-3xl text-red-500 leading-tight font-black sm:text-5xl sm:leading-tight;
    }

    .has-no-animation {
        background-position: 0% 50%;
        background: radial-gradient(circle at center bottom, rgba(252, 233, 138, 1) -25%, rgba(233, 215, 235, 1) 75%);
    }

    .portrait-janine {
        overflow: hidden;
        @apply rounded-xl;
        aspect-ratio: 13 / 9;
    }

    .portrait-janine--disc {
        aspect-ratio: 1 / 1;
        @apply rounded-full;
        @apply w-20 h-20;
        @apply xs:w-24 xs:h-24;
        @apply md:w-28 md:h-28;
    }

    .portrait-janine img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .link {
        @apply underline decoration-dashed underline-offset-4;
        @apply hover:text-red-700 transition-colors;
        text-decoration-style: dashed;
        text-decoration-thickness: 1px;
        text-decoration-skip-ink: none;
        text-decoration-color: currentColor;
    }

    a[target='_blank']:not(.rounded-full) {
        position: relative;
    }

    a[target='_blank']::after {
        content: '';
        display: inline-block;
        margin-left: 5px;
        width: 16px;
        height: 16px;
        background-color: transparent;
        background-image: url('/external.svg');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
}
