---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArrowLeft from '../icons/ArrowLeft.astro';
---

<BaseLayout description="Gutschein">
    <a class="flex items-center absolute text-red-500 hover:text-red-700 -mt-8 text-sm font-bold" href="/">
        <ArrowLeft class="w-4 h-4 fill-current" />
        <span>Home</span>
    </a>
    <h1 class="mb-8">Gutschein schenken</h1>
    <p class="text-lg mb-8">
        Möchtest du jemandem eine Freude machen? Mit einem Gutschein kannst du eine Hypnosetherapie-Sitzung im Wert von <strong>150 CHF</strong> verschenken. Nach
        dem Ausfüllen des Formulars wirst du eingeladen, den Betrag per Twint zu bezahlen.
    </p>

    <form netlify action="/gutschein-danke/" name="gutschein" method="POST" class="max-w-lg mx-auto bg-red-50 shadow-md rounded-lg p-6 space-y-4 text-lg mb-12">
        <input type="hidden" name="form-name" value="gutschein" />
        <input type="hidden" name="subject" value="Neue Bestellung für einen Gutschein" />
        <input type="hidden" name="remark" value="Check if Twint payment has been done" />

        <h2 class="text-2xl font-bold text-gray-900 mb-4">Gutschein verschenken</h2>

        <div class="space-y-2">
            <label for="first-name" class="block text-base font-medium">Dein Vor- und Nachname</label>
            <input
                type="text"
                id="first-name"
                name="first-name"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-red-500 focus:border-red-500"
                required
            />
        </div>

        <div class="space-y-2">
            <label for="email" class="block text-base font-medium">Deine E-Mail-Adresse</label>
            <input
                type="email"
                id="email"
                name="email"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-red-500 focus:border-red-500"
                required
            />
        </div>

        <div class="space-y-2">
            <label for="recipient-name" class="block text-base font-medium"> Vor- und Nachname der beschenkten Person </label>
            <input
                type="text"
                id="recipient-name"
                name="recipient-name"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:ring-red-500 focus:border-red-500"
                required
            />
        </div>

        <div class="pt-4">
            <button
                type="submit"
                name="subscribe"
                class="inline-flex items-center justify-center w-full px-6 py-3 text-base font-bold text-white bg-red-600 border border-red-600 rounded-full transition hover:bg-red-500 hover:text-red-50"
            >
                Gutschein bestellen und mit Twint bezahlen
            </button>
        </div>

        <hr class="pt-4 border-t-0 border-b border-gray-500" />
        <div class="py-4 text-base">
            Kein Twint? Bitte <a href="mailto:janine@bern-hypnose.ch" class="text-red-700 underline">sende mir eine E-Mail</a>.
        </div>
    </form>
</BaseLayout>
