---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
import LastPosts from '../components/LastPosts.astro';
import SubPages from '../components/SubPages.astro';
import Testimonials from '../components/Testimonials.astro';
import WhatIsHypnose from '../components/WhatIsHypnose.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const lastPosts = posts.slice(0, 2);
---

<BaseLayout description={siteConfig.description} image={siteConfig.imageHomepage}>
    <Hero />
    <div class="prose sm:prose-lg text-main">
        <h2>Was kann Hypnose für dich tun?</h2>
    </div>
    <SubPages id="hypnotherapy" columns={3} />
    <WhatIsHypnose />
    <hr class="border-t border-gray-400 mt-12" />
    <Testimonials />
    <LastPosts posts={lastPosts} />
</BaseLayout>
