---
import BaseLayout from '../layouts/BaseLayout.astro';
import ArrowLeft from '../icons/ArrowLeft.astro';
---

<BaseLayout description="Gutschein">
    <h1 class="mb-8">Danke!</h1>
    <p></p>
</BaseLayout>
