---
import { Image } from 'astro:assets';

const { href, image, imageWidth, imageWidths, imageSizes, title, hiddenHypnoText, ...props } = Astro.props;
---

<a class="card group" href={href} {...props}>
    <div
        class="absolute z-0 top-0 right-0 bottom-0 left-0 rounded-xl transition-all duration-500 ease-in-out opacity-0 group-hover:opacity-50 group-hover:scale-[1.4] bg-yellow-300 blur-3xl pointer-events-none"
    >
    </div>
    <div class="card__image">
        <Image
            src={image}
            alt={title ? `${title} – Hypnosetherapie Bern` : 'Hypnosetherapie Bern'}
            width={imageWidth ?? null}
            sizes={imageSizes ?? null}
            widths={imageWidths ?? null}
            class="w-full h-64 object-cover object-center sm:h-96 rounded-xl shadow-lg"
        />
    </div>
    <h3 class="card__title">
        {title}
    </h3>
</a>

<style>
    .card {
        @apply block relative;
    }
    .card__image {
        @apply w-full rounded-xl overflow-hidden relative z-10 shadow-lg aspect-[5/3];
    }

    .card__image img {
        @apply w-full h-full object-cover object-center;
        @apply group-hover:scale-[1.05] transition-transform duration-500 ease-in-out object-cover object-center;
    }
    .card__title {
        @apply px-2 py-2 !text-base md:!text-lg font-bold !leading-snug text-red-700 group-hover:text-red-500 transition-colors relative z-10;
    }
</style>
