---
import PostPreview from '../components/PostPreview.astro';
const { posts } = Astro.props;
---

<section>
    <div class="prose sm:prose-lg mt-12">
        <h2>Letzte Blogposts</h2>
    </div>
    {
        posts?.length > 0 && (
            <div class="sm:flex gap-4">
                {posts.map((post: any) => (
                    <PostPreview post={post} headingLevel="h3" />
                ))}
            </div>
        )
    }
    <a
        href="/blog/"
        class="inline-flex my-12 items-center justify-center px-6 py-3 text-base leading-tight font-bold text-red-700 bg-transparent border border-red-700 rounded-full transition hover:bg-red-500 hover:text-red-50"
    >
        Alle Blogposts
    </a>
</section>
