---
import Facebook from '../icons/Facebook.astro';
import LinkedIn from '../icons/LinkedIn.astro';
// import VSH from '../icons/VSH.astro';
// <VSH class="h-14" color="currentColor" />
---

<div class="flex items-center gap-4 pb-32">
    <div class="border-t border-gray-400 grow"></div>
    <a href="https://www.facebook.com/profile.php?id=61564940341284" class="text-red-600 hover:text-red-500">
        <Facebook size="40" color="currentColor" />
        <span class="sr-only">Bern Hypnose auf Facebook folgen</span>
    </a>
    <a
        href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAFFp-AgBm-rm_huvm7-mlx4EbsGWVRKTqSI&keywords=janine%20aerni&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=301a14c8-0107-41cc-99d6-01507d339803&sid=4*b&spellCorrectionEnabled=true"
        class="text-red-600 hover:text-red-500"
    >
        <LinkedIn size="40" color="currentColor" />
        <span class="sr-only">Janine Aerni auf Instagram folgen</span>
    </a>
</div>
