---
import Facebook from '../icons/Facebook.astro';
import LinkedIn from '../icons/LinkedIn.astro';
import Instagram from '../icons/Instagram.astro';
import Youtube from '../icons/Youtube.astro';
import GoogleBusiness from '../icons/GoogleBusiness.astro';
import VSH from '../icons/VSH.astro';
import SBVH from '../icons/SBVH.astro';
---

<footer class="flex flex-wrap flex-col md:flex-row items-center justify-between gap-4 pt-16 pb-5 border-t border-gray-400 md:border-none">
    <a href="/diplomierte-hypnosetherapeutin/" class="text-gray-800 hover:text-red-500">
        <VSH class="h-10 sm:h-10 md:h-12" color="currentColor" />
        <span class="sr-only">Diplomierte Hypnosetherapeutin VSH (Verband Schweizer Hypnosetherapeuten)</span>
    </a>
    <div class="border-t border-gray-400 grow"></div>
    <a href="/diplomierte-hypnosetherapeutin/" class="text-gray-800 hover:text-red-500 flex items-center gap-2">
        <SBVH class="h-14 text-gray-600" color="currentColor" />
        <div>
            <div class="text-base font-medium">SBVH&nbsp;/&nbsp;APSH</div>
            <div class="text-xs">Certified&nbsp;Member&nbsp;2025</div>
        </div>
    </a>
    <div class="border-t border-gray-400 grow"></div>
    <div class="flex gap-4 mt-4 sm:mt-0">
        <a href="https://www.instagram.com/janineaerni_bern_hypnose/" class="text-red-600 hover:text-red-500">
            <Instagram size="40" color="currentColor" />
            <span class="sr-only">Bern Hypnose auf Instagram folgen</span>
        </a>
        <a href="https://www.youtube.com/@BernHypnose" class="text-red-600 hover:text-red-500">
            <Youtube size="40" color="currentColor" />
            <span class="sr-only">Bern Hypnose Videos auf Youtube schauen</span>
        </a>
        <a href="https://www.facebook.com/profile.php?id=61564940341284" class="text-red-600 hover:text-red-500">
            <Facebook size="40" color="currentColor" />
            <span class="sr-only">Bern Hypnose auf Facebook folgen</span>
        </a>
        <a
            href="https://www.linkedin.com/search/results/all/?fetchDeterministicClustersOnly=true&heroEntityKey=urn%3Ali%3Afsd_profile%3AACoAAFFp-AgBm-rm_huvm7-mlx4EbsGWVRKTqSI&keywords=janine%20aerni&origin=RICH_QUERY_TYPEAHEAD_HISTORY&position=0&searchId=301a14c8-0107-41cc-99d6-01507d339803&sid=4*b&spellCorrectionEnabled=true"
            class="text-red-600 hover:text-red-500"
        >
            <LinkedIn size="40" color="currentColor" />
            <span class="sr-only">Janine Aerni auf LinkedIn folgen</span>
        </a>
        <a href="https://share.google/5Y5iZwrcjpIPBl4Wj" class="bg-red-600 hover:bg-red-500">
            <GoogleBusiness size="40" color="white" />
            <span class="sr-only">Google Business Profile ansehen</span>
        </a>
    </div>

    <div class="flex flex-wrap items-center justify-center md:justify-between gap-1 pt-5 pb-5">
        <a href="/klientinnenstimmen/" class="p-2 text-gray-800 hover:text-red-500 text-sm">Klient:innenstimmen</a>
        <a href="/diplomierte-hypnosetherapeutin/" class="p-2 text-gray-800 hover:text-red-500 text-sm">Ethik</a>
        <a href="/nutzungsbedingungen/" class="p-2 text-gray-800 hover:text-red-500 text-sm">Nutzungsbedingungen</a>
        <a href="/datenschutzrichtlinie/" class="p-2 text-gray-800 hover:text-red-500 text-sm">Datenschutzrichtlinie</a>
        <a href="/impressum/" class="p-2 text-gray-800 hover:text-red-500 text-sm">Impressum</a>
        <a href="/gutschein/" class="p-2 text-gray-800 hover:text-red-500 text-sm">Gutschein</a>
    </div>
    <div class="text-sm leading-snug pb-32 text-center md:text-left text-balance">
        <p class="font-medium">
            &copy; {new Date().getFullYear()}&nbsp;
            <a class="hover:underline hover:underline-offset-2" href="/">Bern Hypnose</a>. Alle Rechte vorbehalten.
        </p>
        <p class="text-gray-800">
            Hypnosetherapie in Bern – für Klient:innen aus Bern, Köniz, Wabern, Liebefeld, Muri bei Bern, Ostermundigen, Ittigen, Bremgarten, Kirchlindach,
            Wohlen und Umgebung.
        </p>
    </div>
</footer>
