---
import siteConfig from '../data/site-config';
import Bullet from '../icons/Bullet.astro';

// Props
const { exclude, columns = 2 } = Astro.props; // default to 2 columns

// Get the subLinks array from the siteConfig
const subLinks = siteConfig.headerNavLinks?.[1]?.subLinks;

// Filter the subLinks to exclude the link specified in the props
const filteredSubLinks = subLinks?.filter((subLink) => subLink.href !== exclude);

// Determine the grid columns class based on the 'columns' prop
const gridColumnsClass = columns === 1 ? 'grid-cols-1' : 'grid-cols-2';
---

<nav class="py-4 md:py-6">
    {
        filteredSubLinks && filteredSubLinks.length > 0 && (
            <ul class={`grid ${gridColumnsClass} gap-4 not-prose list`}>
                {filteredSubLinks.map((subLink) => (
                    <li class="flex items-baseline group" key={subLink.href}>
                        <div class="mr-2 top-[3px] relative">
                            <Bullet class="w-4 h-4 fill-red-200 transform transition-transform duration-1000 group-hover:scale-[1.25] group-hover:rotate-90" />
                        </div>
                        <a class="text-pretty sm:pr-4 hover:text-red-700 transition-colors" href={subLink.href}>
                            {subLink.longText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
