---

---

<section class="prose sm:prose-lg mt-16 mb-8">
    <h2>Warum Hypnosetherapie bei mir in Bern?</h2>
    <div class="grid sm:grid-cols-2 gap-6 not-prose my-6">
        <div class="flex items-start gap-1 sm:flex-col">
            <span class="text-xl text-red-700 font-bold">✓</span>
            <div>
                <h3 class="font-bold text-lg mb-1 text-main leading-snug">Individuelle Sitzungen</h3>
                <p class="text-main leading-snug">Keine Paketverkäufe – du entscheidest selbst, wie viele Sitzungen du benötigst</p>
            </div>
        </div>
        <div class="flex items-start gap-1 sm:flex-col">
            <span class="text-xl text-red-700 font-bold">✓</span>
            <div>
                <h3 class="font-bold text-lg mb-1 text-main leading-snug">Zentrale Lage in Bern</h3>
                <p class="text-main leading-snug">Eigerstrasse 56, gut erreichbar mit ÖV (Tram 9, Haltestelle Sulgenau)</p>
            </div>
        </div>

        <div class="flex items-start gap-1 sm:flex-col">
            <span class="text-xl text-red-700 font-bold">✓</span>
            <div>
                <h3 class="font-bold text-lg mb-1 text-main leading-snug">Diplomierte VSH Hypnosetherapeutin</h3>
                <p class="text-main leading-snug">Mitgliedschaft im Verband Schweizer Hypnosetherapeuten</p>
            </div>
        </div>
        <div class="flex items-start gap-1 sm:flex-col">
            <span class="text-xl text-red-700 font-bold">✓</span>
            <div>
                <h3 class="font-bold text-lg mb-1 text-main leading-snug">SBVH Mitglied</h3>
                <p class="text-main leading-snug">Mitglied im Schweizerischen Berufsverband für Hypnosetherapie</p>
            </div>
        </div>
    </div>
</section>
