---

---

<section class="prose sm:prose-lg mt-12">
    <h2>Eine kurze Videoeinführung in die Hypnose</h2>
    <iframe
        class="w-full aspect-video"
        src="https://www.youtube.com/embed/Lcf0gWXu-C8?rel=0&controls=1&modestbranding=1&showinfo=0&color=white"
        title="Bern Hypnose | Einführung in Hypnosetherapie"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
</section>
