---

---

<section class="prose sm:prose-lg mt-12">
    <h2>Was ist Hypnose?</h2>
    <p>
        Hypnose erlaubt es dir, dich mit deinem Unterbewusstsein, mit deinen Emotionen auseinanderzusetzen. Viele stellen sich unter der hypnotischen Trance
        wohl etwas Falsches vor: du bist in hypnotischer Trance nicht willenlos und manipulierbar. Zu jedem Zeitpunkt hast du die Kontrolle darüber, wie viel du
        preis geben möchtest.
    </p>
    <p>Hypnosetherapie ist eine komplementäre Heilmethode und ersetzt keinen Arztbesuch oder eine Therapie bei einem Psychologen, einer Psychologin.</p>
    <h3>Natürlicher und alltäglicher Entspannungszustand</h3>
    <p>
        Du wirst in einen Zustand geistiger Entspannung begleitet und findest dich in einem Zustand von selektiv erhöhter Denkfähigkeit und gesteigerter
        Kreativität. Du befindest dich mehrmals täglich in einem vergleichbaren Zustand: vor dem Einschlafen zum Beispiel oder während einer Autofahrt, wenn dir
        plötzlich nicht mehr ganz bewusst ist, wie du von A nach B gefahren bist. Wenn die Kreativität und vielleicht sogar die Erinnerungsfähigkeit gesteigert
        sind, bist du nahe an Lösungsfindungsprozessen dran und kannst negativ konnotierte Situationen neu programmieren.
    </p>

    <h3>Wozu Hypnose?</h3>
    <p>
        So kannst du in Gedanken Vergebungsarbeit leisten, <a href="/hypnosetherapie/abhaengigkeit/">Abhängigkeiten mit Hypnose behandeln</a> oder ganz ablegen,
        wie zum Beispiel beim <a href="/hypnosetherapie/abhaengigkeit/rauchstopp-mit-hypnose/">Rauchstopp</a> oder bei der <a
            href="/hypnosetherapie/abhaengigkeit/hypnose-gegen-alkoholsucht/">Hypnose gegen Alkoholsucht</a
        >. Du kannst <a href="/hypnosetherapie/aengste-und-phobien/">Angststörungen mit Hypnose überwinden</a>, an deinem Selbstwertgefühl arbeiten, <a
            href="/hypnosetherapie/schmerzen/">Schmerzen lindern</a
        > und vieles mehr. Für dein Gehirn spielt es keine Rolle, ob du etwas wirklich erlebst oder es in Gedanken durchspielst. Daher haben Gedanken und Emotionen
        so viel Kraft. Der grösste Teil des Erlebten und deiner Glaubensmuster ist im Unterbewusstsein verankert und nicht in der Ratio.
    </p>

    <h3>Bist du bereit für eine Veränderung?</h3>
    <p>
        Lass uns das immense Potential der Hypnose nutzen und gespannt auf die Erfolge sein, die auf dich warten. Ich begleite dich dabei auf deinem Weg zu
        positiven Veränderungen.
    </p>
    <div class="flex flex-wrap gap-4 py-8">
        <a
            data-umami-event="Home – Button Angebote"
            href="/angebote/"
            class="inline-flex items-center justify-center px-6 py-3 text-base leading-tight font-bold text-red-700 bg-transparent border border-red-700 rounded-full transition hover:bg-red-500 hover:text-red-50 no-underline"
            onclick="document.app.emitEvent('mouseDown', 'trigger-to-2');"
        >
            Angebote
        </a>
        <a
            data-umami-event="Home – Button Kontakt"
            href="/kontakt/"
            class="inline-flex no-prose items-center justify-center px-6 py-3 text-base leading-tight font-bold text-white bg-red-600 border border-red-600 rounded-full transition hover:bg-red-500 hover:text-red-50 no-underline"
            onclick="document.app.emitEvent('mouseDown', 'trigger-to-3');"
        >
            Kontakt
        </a>
    </div>
</section>
