---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Blur from '../components/Blur.astro';

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="de" class="antialiased break-words">
    <head>
        <BaseHead {...head} />
        <ViewTransitions />
        <script defer src="https://umami-eta-inky.vercel.app/script.js" data-website-id="b71481a2-1aaa-4300-a2cc-907a8ed24d37"></script>
        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body class="text-main overflow-x-hidden bg-gradient-to-b from-red-100 to-yellow-50 min-h-[100vh]">
        <Blur />
        <main class="min-h-[85vh] relative z-10
            px-6 md:px-8 lg:px-10 py-12 lg:py-20">
            <slot />
        </main>
    </body>
</html>
