---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Blur from '../components/Blur.astro';

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="de" class="antialiased break-words">
    <head>
        <BaseHead {...head} />
        <ViewTransitions />
        <script defer src="https://umami-eta-inky.vercel.app/script.js" data-website-id="b71481a2-1aaa-4300-a2cc-907a8ed24d37"></script>
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- PWA and iOS specific meta tags + cf astro.config.js too -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
        <meta name="theme-color" content="#000000" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-title" content="Bern Hypnose" />
    </head>
    <body class="text-main overflow-x-hidden bg-gradient-to-b from-red-100 to-yellow-50 min-h-[100vh]">
        <Blur />
        <main
            class="w-[100dvw] h-[100dvh] overflow-x-hidden overflow-y-auto relative z-10
            pt-[env(safe-area-inset-top)]
            pb-[env(safe-area-inset-bottom)]
            pl-[env(safe-area-inset-left)]
            pr-[env(safe-area-inset-right)]"
        >
            <slot />
        </main>
    </body>
</html>
