---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Spline from '../components/Spline.astro';
import Blur from '../components/Blur.astro';

export type Props = HeadProps;

const { ...head } = Astro.props;
---

<!doctype html>
<html lang="de" class="antialiased break-words">
    <head>
        <BaseHead {...head} />
        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>
        <ViewTransitions />
    </head>
    <body class="bg-main text-main">
        <Blur />
        <Spline />
        <Nav />
        <main class="flex min-h-[85vh] max-w-2xl relative z-10
            px-4 md:px-6 lg:px-8 py-10 lg:py-14">
            <slot />
        </main>
    </body>
</html>
