---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Three from '../components/Three.astro';
import Blur from '../components/Blur.astro';
import SocialFooter from '../components/SocialFooter.astro';
// import Notification from '../components/Notification.astro';
import BreadcrumbSchema from '../components/BreadcrumbSchema.astro';

export type Props = HeadProps;

const { ...head } = Astro.props;
const isHomepage = Astro.url.pathname === '/' || Astro.url.pathname === '';
---

<!doctype html>
<html lang="de" class="antialiased break-words">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <BaseHead {...head} />
        {!isHomepage && <BreadcrumbSchema />}
        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>
        <ViewTransitions />
        <script defer src="https://umami-eta-inky.vercel.app/script.js" data-website-id="b71481a2-1aaa-4300-a2cc-907a8ed24d37"></script>
        <link rel="sitemap" href="/sitemap-index.xml" />
    </head>
    <body class="bg-main text-main overflow-x-hidden">
        <Blur />
        <Three />
        <header>
            <!--Notification / -->
            <Nav hidePickaboo={Astro.props.hidePickaboo} />
        </header>
        <main class="min-h-[85vh] max-w-3xl relative z-10
            px-5 md:px-6 lg:px-8 py-10 lg:py-14">
            <slot />
            <SocialFooter />
        </main>
    </body>
</html>
